In [30]:
from sqlalchemy import create_engine
import psycopg2 as db
import pandas as pd
import numpy as np
import os

In [31]:
postPass = os.environ["POSTGRES_PASS"]

In [32]:
engine = create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                      .format(user="jupyter", pw=postPass, db="expunge"))

In [33]:
engine.table_names()

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['fips_subset_20220211',
 'ids_10k_sample',
 'data_1k_sample',
 'data_10k_sample',
 'data_100k_sample',
 'ids_1k_sample',
 'ids_100k_sample',
 'expunge',
 'outcomes',
 'test_table_jupyter_linshavers',
 'hypotheticals_100k',
 'full_table_shorter_wait',
 'fips-subset-2022-02-11-default',
 'full_table_default',
 'full_table_no_lifetime_shorter_wait',
 'full_table_misd_5',
 'full_table_misd_5_no_lifetime',
 'full_table_no_lifetime',
 'charges',
 'runs',
 'expunge_features',
 'features',
 'census',
 'districtfips',
 'fips',
 'expunge_results_10k']

In [34]:
fipsquery = """
SELECT *
FROM fips
LIMIT 100
"""

pd.read_sql(fipsquery, con = engine)

    index  fips             locality placetype
0       0     1             Accomack    County
1       1     3            Albemarle    County
2       2     5  Alleghany/Covington      Both
3       3     7               Amelia    County
4       4     9              Amherst    County
..    ...   ...                  ...       ...
95     95   510           Alexandria      City
96     96   520              Bristol      City
97     97   530          Buena Vista      City
98     98   540      Charlottesville      City
99     99   550           Chesapeake      City

[100 rows x 4 columns]

In [35]:
myquery = """
SELECT * FROM charges
WHERE LEFT(code_section, 1) = 'C'
AND race = 'Unknown'
LIMIT 10;
"""

otherquery = """
SELECT 
    COUNT(charge_class)
    , charge_class
    , person_id
    , code_section
FROM charges
WHERE CAST(LEFT(CAST(hearing_date AS TEXT),4) AS INT) > 2015
AND code_section = '18.2-374.1:1'
AND charge_class <> 'NA'
GROUP BY 
    charge_class
    , person_id
    , code_section
ORDER BY charge_class DESC
LIMIT 100
"""

# how many people had each number of charges

query3 = """
SELECT 
    COUNT(*) AS chargesnum
    , person_id
FROM charges
GROUP BY person_id
ORDER BY chargesnum DESC
"""

result = pd.read_sql(query3, con = engine)

In [36]:
result.chargesnum.value_counts()

1       1798789
2        481102
3        219663
4        131796
5         87063
         ...
208           1
207           1
206           1
118           1
1413          1
Name: chargesnum, Length: 250, dtype: int64

In [37]:
result

         chargesnum        person_id
0              1413  213011000000129
1              1006  237070000000895
2               960  144220000000763
3               824  166180000000561
4               598  354000000000078
...             ...              ...
3082927           1  353000000000297
3082928           1  353000000000299
3082929           1  353000000000302
3082930           1  353000000000305
3082931           1  353000000000306

[3082932 rows x 2 columns]

## How did this person get charged with 1400 charges?

In [38]:
query4 = """
SELECT 
    COUNT(code_section) AS numviolated
    , person_id
    , code_section
    , disposition_code
FROM charges 
WHERE person_id = '213011000000129'
GROUP BY 
    person_id
    , code_section
    , disposition_code
"""

In [39]:
pd.read_sql(query4, con = engine)

   numviolated        person_id code_section disposition_code
0            1  213011000000129     18.2-111   Nolle Prosequi
1          704  213011000000129     18.2-172   Nolle Prosequi
2          354  213011000000129     18.2-178   Nolle Prosequi
3          350  213011000000129   18.2-186.3   Nolle Prosequi
4            1  213011000000129     18.2-192   Nolle Prosequi
5            1  213011000000129     18.2-195   Nolle Prosequi
6            1  213011000000129     18.2-197   Nolle Prosequi
7            1  213011000000129   18.2-246.3   Nolle Prosequi

### Important Tables
charges

### Columns
person_id is identifier for unidentified person

district_fips is political identifier

### Other notes
LAJC asked us to help them with lobbying for
Dawn M. Adams

In [40]:
# sql joins
joinquery = """
SELECT *
FROM charges c
LEFT JOIN fips f
    ON CAST(c.fips AS INT) = f.fips
LIMIT 100000
"""
queryreturned = pd.read_sql(joinquery, con = engine)

In [41]:
queryreturned

,id,person_id,hearing_date,code_section,charge_type,charge_class,disposition_code,plea,race,sex,fips,index,fips,locality,placetype
0,6788258,277131000000039,2012-12-10,18.2-479,Misdemeanor,1,Nolle Prosequi,NA,White,Female,087,42,87,Henrico,County
1,6788259,277131000000039,2012-12-10,54.1-3466,Misdemeanor,1,Nolle Prosequi,NA,White,Female,087,42,87,Henrico,County
2,6788260,277131000000039,2013-01-30,18.2-250,Felony,5,Guilty,Guilty,White,Female,087,42,87,Henrico,County
3,6788261,277131000000039,2013-01-30,18.2-250,Felony,5,Guilty,Guilty,White,Female,087,42,87,Henrico,County
4,6788262,277131000000039,2017-06-20,B.18.2-266,Misdemeanor,O,Guilty,Guilty,White,Female,087,42,87,Henrico,County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,6883249,278070000000513,2011-12-20,46.2-300,Misdemeanor,2,Nolle Prosequi,NA,Hispanic,Male,197,93,197,Wythe,County
99996,6883250,135110000000316,2000-04-17,18.2-248,Felony,NA,Guilty,NA,Black,Male,710,140,710,Norfolk,City
99997,6883251,135110000000316,2000-04-17,18.2-308.4(B),Felony,NA,Nolle Prosequi,NA,Black,Male,710,140,710,Norfolk,City
99998,6883252,135110000000316,2000-04-17,18.2-308.4(B),Felony,NA,Nolle Prosequi,NA,Black,Male,710,140,710,Norfolk,City
99999,6883253,135110000000316,2009-02-24,B.46.2-301,Misdemeanor,1,Guilty,Guilty,Black,Male,712,116,712,Norfolk,City

In [42]:
joinquery2 = """
SELECT *
FROM charges c
LEFT JOIN districtfips d
ON d.fips = CAST(c.fips AS INT)
WHERE district = 'HD68'
LIMIT 15
"""
pd.read_sql(joinquery2, con = engine)

,id,person_id,hearing_date,code_section,charge_type,charge_class,disposition_code,plea,race,sex,fips,member,district,party,locality,placetype,coverage,fips
0,6883165,135110000000292,2015-04-17,18.2-248.1,Misdemeanor,1,Dismissed,NA,Black,Male,761,Dawn M. Adams,HD68,D,Richmond,City,Partial,761
1,6883175,135110000000292,2003-01-15,18.2-250,Felony,U,Guilty,Guilty,Black,Male,760,Dawn M. Adams,HD68,D,Richmond,City,Partial,760
2,6883176,135110000000292,2008-10-30,B.46.2-894,Misdemeanor,1,Nolle Prosequi,NA,Black,Male,760,Dawn M. Adams,HD68,D,Richmond,City,Partial,760
3,6883177,135110000000292,2008-10-30,18.2-460,Misdemeanor,1,Guilty,Nolo Contendere,Black,Male,760,Dawn M. Adams,HD68,D,Richmond,City,Partial,760
4,6883178,135110000000292,2008-10-30,18.2-456,Misdemeanor,NA,Guilty,NA,Black,Male,760,Dawn M. Adams,HD68,D,Richmond,City,Partial,760
5,6883179,135110000000292,2011-04-14,46.2-1172,Misdemeanor,1,Not Guilty,Not Guilty,Black,Male,087,Dawn M. Adams,HD68,D,Henrico,County,Partial,87
6,6883180,135110000000292,2011-05-31,B.46.2-817,Felony,6,Guilty,Nolo Contendere,Black,Male,087,Dawn M. Adams,HD68,D,Henrico,County,Partial,87
7,6883181,135110000000292,2011-05-31,B.46.2-357,Felony,O,Guilty,Nolo Contendere,Black,Male,087,Dawn M. Adams,HD68,D,Henrico,County,Partial,87
8,6883182,135110000000292,2012-07-10,B.46.2-357,Felony,U,Guilty,Guilty,Black,Male,041,Dawn M. Adams,HD68,D,Chesterfield,County,Partial,41
9,6883183,135110000000292,2015-03-19,B.46.2-301,Misdemeanor,1,Dismissed,NA,Black,Male,762,Dawn M. Adams,HD68,D,Richmond,City,Partial,762
10,6883228,328071000000026,2013-10-04,A.46.2-862,Misdemeanor,NA,Dismissed,NA,White,Female,087,Dawn M. Adams,HD68,D,Henrico,County,Partial,87
11,6883265,46220000000587,2004-11-12,A.18.2-266,Misdemeanor,1,Guilty,Nolo Contendere,White,Male,087,Dawn M. Adams,HD68,D,Henrico,County,Partial,87
12,6883266,46220000000587,2004-11-12,18.2-250.1,Misdemeanor,1,Nolle Prosequi,NA,White,Male,087,Dawn M. Adams,HD68,D,Henrico,County,Partial,87
13,6883277,183171000000223,2011-06-15,46.2-722,Misdemeanor,1,Guilty,NA,Black,Female,041,Dawn M. Adams,HD68,D,Chesterfield,County,Partial,41
14,6883278,183171000000223,2011-06-15,A.46.2-301,Misdemeanor,1,Guilty,NA,Black,Female,041,Dawn M. Adams,HD68,D,Chesterfield,County,Partial,41

In [43]:
myquery = """
SELECT 
    COUNT(*) AS convictions
    , c.fips
    , c.race
    , c.code_section
    , f.locality
FROM charges c
LEFT JOIN fips f
    ON CAST(c.fips AS INT) = f.fips
WHERE disposition_code = 'Guilty'
OR disposition_code = 'Guilty in Absentia'
GROUP BY
    c.fips
    , c.race
    , c.code_section
    , f.locality
ORDER BY convictions DESC
"""

conviction = pd.read_sql(myquery, con = engine)
conviction.head(30)

    convictions fips      race code_section              locality
0         48072  081     White   A.46.2-862           Greensville
1         26569  059     White     46.2-300               Fairfax
2         26075  087     Black   B.46.2-301               Henrico
3         21513  059     White   C.46.2-862               Fairfax
4         20951  059     White   A.46.2-862               Fairfax
5         20517  081     Black   A.46.2-862           Greensville
6         20046  810     Black   B.46.2-301        Virginia Beach
7         17735  183     White   A.46.2-862                Sussex
8         17437  712     Black   B.46.2-301               Norfolk
9         17193  762     Black   B.46.2-301              Richmond
10        16268  197     White   A.46.2-862                 Wythe
11        16222  059     White   A.18.2-266               Fairfax
12        15229  059     Black   A.46.2-862               Fairfax
13        14923  153     White     46.2-300        Prince William
14        13981  041     Black   B.46.2-301          Chesterfield
15        13419  740     Black   B.46.2-301            Portsmouth
16        13259  810     White   A.18.2-266        Virginia Beach
17        13127  163     White   A.46.2-862  Lexington/Rockbridge
18        13127  163     White   A.46.2-862            Rockbridge
19        13008  059     White   B.46.2-301               Fairfax
20        12909  153     White   A.18.2-266        Prince William
21        12564  025     White   A.46.2-862             Brunswick
22        11979  702     Black   B.46.2-301          Newport News
23        11911  025     Black   A.46.2-862             Brunswick
24        11753  810     White   B.46.2-301        Virginia Beach
25        10871  041  Hispanic     46.2-300          Chesterfield
26        10821  153     White   A.46.2-852        Prince William
27        10603  650     Black   B.46.2-301               Hampton
28        10445  550     Black   B.46.2-301            Chesapeake
29        10202  059     Black   C.46.2-862               Fairfax

In [44]:
myquery = """
SELECT 
    COUNT(*) AS convictions
    , c.code_section
FROM charges c
LEFT JOIN fips f
    ON CAST(c.fips AS INT) = f.fips
WHERE disposition_code = 'Guilty'
OR disposition_code = 'Guilty in Absentia'
GROUP BY
    c.code_section
ORDER BY convictions DESC
"""

conviction = pd.read_sql(myquery, con = engine)
conviction.head(30)

    convictions code_section
0        545658   B.46.2-301
1        528538   A.46.2-862
2        294475     46.2-300
3        255819   C.46.2-862
4        250064   A.18.2-266
5        167614   18.2-250.1
6        150603      18.2-95
7        136903   A.46.2-852
8        123233     18.2-250
9        113463     18.2-248
10       102736      18.2-96
11        88651     18.2-172
12        84824     18.2-103
13        75476      18.2-57
14        69670     18.2-388
15        61586   A.46.2-853
16        57959     19.2-128
17        56355   B.18.2-266
18        53514     18.2-119
19        46314   18.2-248.1
20        43750     18.2-178
21        42496     19.2-306
22        41516   A.46.2-707
23        41371     18.2-137
24        39884      18.2-91
25        38767   A.46.2-301
26        32525     18.2-111
27        28987     18.2-460
28        28971      18.2-51
29        28253      18.2-58

### To see more data

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)

In [45]:
myquery = """
WITH conviction_by_race AS (
SELECT 
    COUNT(*) AS convictions
    , c.fips
    , c.race
    , f.locality
FROM charges c
LEFT JOIN fips f
    ON CAST(c.fips AS INT) = f.fips
WHERE disposition_code = 'Guilty'
OR disposition_code = 'Guilty in Absentia'
GROUP BY
    c.fips
    , c.race
    , f.locality
ORDER BY convictions DESC
)
SELECT 
    SUM(convictions) AS convictions_per_area
    , fips
    , locality
FROM conviction_by_race
GROUP BY 
    fips
    , locality
ORDER BY convictions_per_area DESC
"""
area = pd.read_sql(myquery, con = engine)
area.head(20)

    convictions_per_area fips                 locality
0               292679.0  810           Virginia Beach
1               286302.0  059                  Fairfax
2               192547.0  087                  Henrico
3               184616.0  041             Chesterfield
4               172615.0  153           Prince William
5               132421.0  550               Chesapeake
6               102035.0  710                  Norfolk
7                94910.0  081              Greensville
8                87437.0  107                  Loudoun
9                84692.0  013                Arlington
10               84469.0  650                  Hampton
11               83806.0  770                  Roanoke
12               83337.0  085                  Hanover
13               82327.0  740               Portsmouth
14               81083.0  179                 Stafford
15               66062.0  165  Harrisonburg/Rockingham
16               66062.0  165               Rockingham
17               62630.0  702             Newport News
18               60543.0  590                 Danville
19               59316.0  177             Spotsylvania

In [46]:
myquery = """
WITH conviction_by_race AS (
SELECT 
    COUNT(*) AS convictions
    , c.fips
    , c.race
    , f.locality
FROM charges c
LEFT JOIN fips f
    ON CAST(c.fips AS INT) = f.fips
WHERE disposition_code = 'Guilty'
OR disposition_code = 'Guilty in Absentia'
GROUP BY
    c.fips
    , c.race
    , f.locality
ORDER BY convictions DESC
)
, conviction_by_area AS (
SELECT 
    SUM(convictions) AS convictions_per_area
    , fips
    , locality
FROM conviction_by_race
GROUP BY 
    fips
    , locality
ORDER BY convictions_per_area DESC
)
SELECT 
    r.convictions/a.convictions_per_area*100 AS percent_convictions_by_race
    , a.convictions_per_area
    , r.convictions AS convictions_by_race
    , r.race
    , r.fips
    , r.locality
FROM conviction_by_race r
LEFT JOIN conviction_by_area a
ON r.fips = a.fips
AND r.locality = a.locality
ORDER BY convictions_per_area DESC
"""

countyconvict = pd.read_sql(myquery, con = engine)
countyconvict.head(20)

,percent_convictions_by_race,convictions_per_area,convictions_by_race,race,fips,locality
0,1.016472,292679.0,2975,Unknown,810,Virginia Beach
1,52.405195,292679.0,153379,White,810,Virginia Beach
2,1.072164,292679.0,3138,Asian or Pacific Islander,810,Virginia Beach
3,1.379669,292679.0,4038,Hispanic,810,Virginia Beach
4,0.055692,292679.0,163,American Indian or Alaskan Native,810,Virginia Beach
5,44.070808,292679.0,128986,Black,810,Virginia Beach
6,6.485110,286302.0,18567,Hispanic,059,Fairfax
7,5.042228,286302.0,14436,Asian or Pacific Islander,059,Fairfax
8,4.806463,286302.0,13761,Unknown,059,Fairfax
9,0.137617,286302.0,394,American Indian or Alaskan Native,059,Fairfax
10,58.484747,286302.0,167443,White,059,Fairfax
11,25.043835,286302.0,71701,Black,059,Fairfax
12,56.627213,192547.0,109034,Black,087,Henrico
13,2.942139,192547.0,5665,Hispanic,087,Henrico
14,0.099197,192547.0,191,American Indian or Alaskan Native,087,Henrico
15,0.971191,192547.0,1870,Asian or Pacific Islander,087,Henrico
16,38.181847,192547.0,73518,White,087,Henrico
17,1.178414,192547.0,2269,Unknown,087,Henrico
18,1.092538,184616.0,2017,Unknown,041,Chesterfield
19,40.631906,184616.0,75013,Black,041,Chesterfield

Trying to measure racial bias, convictions of a place relative to population of that place

from pandas_profiling import ProfileReport

can use ProfileReport on a dataframe

In [47]:
url = "https://demographics.coopercenter.org/sites/demographics/files/media/files/2020-07/Census_2019_RaceEstimates_forVA_0.xls"
demo = pd.read_excel(url, skiprows = 4)
demo = demo.rename({'Unnamed: 4':'white_prop', 'Unnamed: 6':'afam_prop', 'Unnamed: 8':'asian_prop', 'Unnamed: 10':'other_prop', 'Unnamed: 12':'twoplus_prop'}, axis = 1)
demo = demo.loc[~demo['FIPS'].isna()]

In [48]:
url = "https://demographics.coopercenter.org/sites/demographics/files/media/files/2020-07/Census_2019_HispanicEstimates_forVA_0.xls"
hisp = pd.read_excel(url, skiprows = 4)
hisp = hisp.loc[~hisp['FIPS'].isna()]
hisp = hisp[['FIPS', "Unnamed: 6", "Unnamed: 7"]]
hisp = hisp.rename({'Unnamed: 6': 'hisp_pop', 'Unnamed: 7':'hisp_prop'}, axis = 1)
hisp = hisp.astype('int')
hisp

     FIPS  hisp_pop  hisp_prop
5       1      2955          0
6       3      6313          0
7       5       238          0
8       7       418          0
9       9       767          0
..    ...       ...        ...
133   800      4300          0
134   810     38235          0
135   820      1966          0
136   830      1069          0
137   840      5127          0

[133 rows x 3 columns]

In [49]:
census = pd.merge(demo, hisp, on='FIPS',
                 how = 'outer',
                 validate = 'one_to_one',
                 indicator = 'matched')
census.to_sql('census', con = engine, index = False, if_exists='replace')

In [50]:
census

,FIPS,Jurisdiction,Total Population,White Alone,white_prop,African American Alone,afam_prop,Asian Alone,asian_prop,Other Races Alone,other_prop,Two or more races,twoplus_prop,hisp_pop,hisp_prop,matched
0,1.0,Accomack County,32316.0,21899.0,0.677652,9304.0,0.287907,257.0,0.007953,293.0,0.009067,563.0,0.017422,2955,0,both
1,3.0,Albemarle County,109330.0,89388.0,0.817598,10600.0,0.096954,6051.0,0.055346,483.0,0.004418,2808.0,0.025684,6313,0,both
2,5.0,Alleghany County,14860.0,13783.0,0.927524,698.0,0.046972,46.0,0.003096,56.0,0.003769,277.0,0.018641,238,0,both
3,7.0,Amelia County,13145.0,10050.0,0.764549,2688.0,0.204488,80.0,0.006086,85.0,0.006466,242.0,0.018410,418,0,both
4,9.0,Amherst County,31605.0,24299.0,0.768834,6041.0,0.191141,180.0,0.005695,305.0,0.009650,780.0,0.024680,767,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,800.0,Suffolk city,92108.0,47993.0,0.521051,39246.0,0.426087,1754.0,0.019043,475.0,0.005157,2640.0,0.028662,4300,0,both
129,810.0,Virginia Beach city,449974.0,303182.0,0.673777,91161.0,0.202592,33241.0,0.073873,2907.0,0.006460,19483.0,0.043298,38235,0,both
130,820.0,Waynesboro city,22630.0,18265.0,0.807114,3040.0,0.134335,382.0,0.016880,149.0,0.006584,794.0,0.035086,1966,0,both
131,830.0,Williamsburg city,14954.0,11013.0,0.736458,2391.0,0.159890,904.0,0.060452,104.0,0.006955,542.0,0.036244,1069,0,both
132,840.0,Winchester city,28078.0,22862.0,0.814232,3174.0,0.113042,764.0,0.027210,279.0,0.009937,999.0,0.035579,5127,0,both